@import "modules/navbar";
@import "vars";
@import "modules/footer";

body
{
    background-color: white;
    margin: auto;
}
header
{
background: url(../images/Mobile_hero.jpg) no-repeat center; 
background-size: cover;  
}

.overflow 
{
 overflow: hidden;
}

.hidden 
{
display: none;
}

h3 {
    font-size: $h3_fontSize;
    margin: 80px 0 20px 0;
    text-transform: uppercase;
    line-height: 1.1em;
  }
#mainTitle
{
 color: white;
}


  
header
{
height: 100vh;
min-height: 800px;
}

.logo 
{
height: 70px;
margin-top: 10px;
}
.hero {
    margin: 20px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h3 {
      font-size: 8vw;
      margin: 100px 0 20px 0;
      text-align: left;
      text-transform: capitalize;
    }
    .scroll {
      display: none;
      position: absolute;
    }
  }
  .description {
    h4 {
      font-size: $description;
      font-weight: 400;
    }
  }

  .homePlants {
    .wrapper {
      padding:40px;
    }
    h3 {
        font-size: 8vw;
        margin: 30px 0 20px 0;
        text-align: center;
        text-transform: capitalize;
      }

  }