<h1 class="hidden">Product_Promo_App</h1>
        <header>
                <h2 class="hidden">Header</h2>
                <nav class="navigationBar">
                  <h3 class="hidden">Main Navigation</h3>
                  <a href="/"
                    ><img class="logo" src="images/Logo.svg" alt="logo_cactus"
                  /></a>
                  <div class="navBar desktop top">
                    <ul>
                      <li class="scrollTo">Home Plants</li>
                      <li class="scrollTo">Gallery</li>
                      <li class="scrollTo">Thank You!</li>
                    </ul>
                  </div>
                  <div class="hamburgerMenu">
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                </nav>
                <nav class="navBar mobile">
                  <h2 class="hidden">Main Navigation Mobile</h2>
                  <ul>
                    <li class="scrollTo">Home Plants</li>
                    <li class="scrollTo">Gallery</li>
                    <li class="scrollTo">Thank You!</li>
                  </ul>
                </nav>
                 <div class="hero">
                  <div>
                    <h3 id="mainTitle">Welcome to<br> Home Plants World</h3>
                </div>
                </div>
              </header>

              <section class="container">
                  <h2 class="hidden">Container</h2>
                  <section class="homePlants  Plants" id="homePlantsLink">
                
                    <div class="wrapper">
                      <div class="description">
                        <h3>Home Plants</h3>
                        <p id="para1">
                            Cute babies in 
                            small pots! 
                            Adorable and beautiful!
                            Best present for lazy people,
                             because they need water just once a month, 
                             isn’t it cool? 
                        </p>
                      </div> 
                      </div> 
                      </section>
                      </section>

                      <section class="Gallery">
                        <h3>Gallery</h3>
                        <div class="plantsImg">
                          <picture>
                            <source srcset="images/desktop_gallery_pic1.jpg" alt="cactus" class="galleryPic" media="(min-width: 1024px)">
                              <source srcset="images/tablet_gallery_pic1.jpg" alt="cactus" class="galleryPic" media="(min-width: 768px)">
                              <img src="images/mobile_gallery_pic1.jpg" alt="cactus" class="galleryPic">
                            </picture>
                            <picture>
                              <source srcset="images/desktop_gallery_pic2.jpg" alt="cactus" class="galleryPic" media="(min-width: 1024px)">
                                <source srcset="images/tablet_gallery_pic2.jpg" alt="cactus" class="galleryPic" media="(min-width: 768px)">
                                <img src="images/mobile_gallery_pic2.jpg" alt="cactus" class="galleryPic">
                            </picture>
                            <picture>
                                <source srcset="images/desktop_gallery_pic3.jpg" alt="cactus" class="galleryPic" media="(min-width: 1024px)">
                                  <source srcset="images/tablet_gallery_pic3.jpg" alt="cactus" class="galleryPic" media="(min-width: 768px)">
                                  <img src="images/mobile_gallery_pic3.jpg" alt="cactus" class="galleryPic">
                            </picture>
                            <picture>
                                <source srcset="images/desktop_gallery_pic4.jpg" alt="cactus" class="galleryPic" media="(min-width: 1024px)">
                                  <source srcset="images/tablet_gallery_pic4.jpg" alt="cactus" class="galleryPic" media="(min-width: 768px)">
                                  <img src="images/mobile_gallery_pic4.jpg" alt="cactus" class="galleryPic">
                            </picture>
                            <picture>
                                <source srcset="images/desktop_gallery_pic5.jpg" alt="cactus" class="galleryPic" media="(min-width: 1024px)">
                                  <source srcset="images/tablet_gallery_pic5.jpg" alt="cactus" class="galleryPic" media="(min-width: 768px)">
                                  <img src="images/mobile_gallery_pic5.jpg" alt="cactus" class="galleryPic">
                            </picture>
                            <picture>
                                <source srcset="images/desktop_gallery_pic6.jpg" alt="cactus" class="galleryPic" media="(min-width: 1024px)">
                                  <source srcset="images/tablet_gallery_pic6.jpg" alt="cactus" class="galleryPic" media="(min-width: 768px)">
                                  <img src="images/mobile_gallery_pic6.jpg" alt="cactus" class="galleryPic">
                            </picture>
                        </div>
                      </section>

                      <section class="thankYou!">
                        <h3 id="thankYouTitle">Thank You!</h3>
                        <div id="para2">
                          <p>I hope you like those 
                            awesome little guys! </p>
                        </div>
                      </section>
                      <footer>
                          <h2 class="hidden">Footer</h2>
                          <div class="footer">
                          <a href="/"><img class="logo" src="images/Logo.svg" alt="logo"
                          /></a>
    
                          <p>Copyright (c) 2019 All Rights Reserved</p>
                          </div>
                        </footer>